@import "tailwindcss";

@font-face {
  font-family: "Chromia";
  src: url("/fonts/Chromia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background: black;
    font-family: "Inter", "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }
}

